<a href="<?= $this->url('dashboard', ['action' => 'reports']) ?>" class="list-group-item">Reports</a>
<a href="<?= $this->url('dashboard', ['action' => 'configuration']) ?>" class="list-group-item">Configuration</a>
<a href="<?= $this->url('dashboard', ['action' => 'users']) ?>" class="list-group-item">Users</a>
