<script src="<?= $this->basePath('js/vendor/jquery-3.1.0.min.js') ?>"></script>
<script src="<?= $this->basePath('js/vendor/bootstrap.min.js') ?>"></script>
<script src="<?= $this->basePath('js/application.js') ?>"></script>