<h1>Edit User</h1>
<div class="panel" >

    <div class="panel-body">
        <form method="post" class="async" action="">
            <?php if (true === isset($this->user)) : ?>
                <input type="hidden" name="id" value="<?= $this->user->getId() ?>">
            <?php endif; ?>
            <div class="form-group">
                <label for="email_field">Email</label>
                <input type="text" name="email" class="form-control" value="<?= isset($this->user) ? $this->user->getEmail() : ''?>">
            </div>
            <div class="form-group">
                <label for="name_field">Full Name</label>
                <input type="text" name="name" class="form-control" value="<?= isset ($this->user) ? $this->user->getName() : '' ?>">
            </div>
            <div class="form-group">
                <label for="role_field">Role</label>
                <div class="form-group">
                    <select name="role">
                        <option value="admin">admin</option>
                        <option value="owner">owner</option>
                        <option value="employee">employee</option>
                    </select>
                </div>
            </div>
            <div class="form-group button-block text-right">
                <div class="col-sm-12 controls">
                    <button class="btn btn-default">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>
