<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">Users information</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>E-mail</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th>Edit</th>
                    </tr>
                    <?php foreach ($this->users as $user): /** @var \Application\Model\User $user */?>
                        <tr>
                            <td><?= $user->getId(); ?></td>
                            <td><?= $user->getEmail();?></td>
                            <td><?= $user->getName();  ?></td>
                            <td><?= $user->getRole();  ?></td>
                            <td> <a class="btn btn-info" href="<?= $this->url('dashboard', ['action'=>'edit', 'id' => $user->getId()]); ?>">Edit</a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>