<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-success panel-login-register" >
        <div class="panel-heading head-login-register">
            <div class="panel-title">Log In</div>
        </div>

        <div class="panel-body panel-body-login-register">
            <form action="<?= $this->url('user', ['action' => 'login']) ?>" method="post" id="loginform" class="async form-horizontal">
                <label for="email_field">Email</label>
                <div class="input-group">
                    <span  class="input-group-addon addon-style"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="email" id="email_field" class="form-control">
                </div>
                <br>
                <div><label for="password_field">Password</label></div>
                <div  class="input-group ">
                    <span class="input-group-addon addon-style"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="password" id="password_field" class="form-control">
                </div>
                <br>
                <div class="input-group">
                    <div class="form-group button-block">
                        <div class="col-sm-12 controls">
                            <button class="btn button-save">Log In</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

